@import "../../../../vendor/filament/filament/resources/css/base.css";

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@config 'tailwind.config.js';
/*
@layer base {
    .fi-simple-main {
        @apply !p-0 !bg-opacity-0 !ring-0;
    }
} */
